html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body{
    color: $textColor;
    margin: 0;
    background-color: $mainBackColor;
    font-size: 16px;
}
button {
    cursor: pointer;
  }